name: build

on:
  - push
  - pull_request

jobs:
  test:
    name: "Test: Ruby ${{ matrix.ruby }}"
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo
        ports:
          - 27017:27017
    env:
      MONGO_HOST: 127.0.0.1:27017
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.5, 2.6, 2.7, "3.0"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          # runs 'bundle install' and caches installed gems automatically
          bundler-cache: true
      - name: Ruby Version
        run: ruby --version
      - name: Run Tests
        run: bundle exec rake
